<section>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1>התחברות</h1>

    <div>
      <label for="email">אימייל:</label>
      <input id="email" type="email" formControlName="email">
      
      @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {
        <span>כתובת אימייל אינה תקינה</span>
      }
    </div>

    <div>
      <label for="password">סיסמה:</label>
      <input id="password" type="password" formControlName="password">
      
      @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
        <span>סיסמה חובה (מינימום 6 תווים)</span>
      }
    </div>

    <button type="submit" [disabled]="loginForm.invalid">כניסה</button>

    @if (errorMessage) {
      <p>{{ errorMessage }}</p>
    }
  </form>
</section>